.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.toast {
  position: relative;
  padding: 1rem;
  width: 12rem;
  border-radius: 0.5rem;
  span {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  margin: 0.5rem;
}

.success {
  background-color: green;
}

.warning {
  background-color: yellow;
}

.info {
  background-color: lightskyblue;
}

.error {
  background-color: lightcoral;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  ,
  100% {
    transform: translateY(0%);
  }
}
